* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  background: #181818;
}

#bg {
  position: fixed;
  width: 100%;
  height: 200px;
}

#bg img {
  width: 116vh;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 32%;
}

#caixa {
  background-color: #f9f9f9;
  font-size: 20px;
  align-items: center;
  text-align: center;
  
  height: 80vh;
  color: #000000;  
  position: absolute;
  left: 8.8%;
  top: 20%;
  width: 358px;
  height: 658px;
}

#caixa img {
  width: 8vh;
  margin: 30px;
  margin-top: -80px;
  margin-bottom: 200px;
  display: flex;
  position: relative;
}

#caixa h4 {
  font-size: 24px;
  margin-bottom: 15px;
}

form input {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  
  color: #ed20e9; 
  font-size: 10px;
  font-weight: 800;
  background-color: #ededed;
}

#checkbox {
  position: relative;
  display: flex;
  margin-left: 39px;
}

input[type="checkbox"] {
  width: 9%;
  border: none; 
  background-color: #ededed;
  margin-bottom: 50px;
}

label {
  font-size: 13px;
  font-weight: bold;
  color: #999999;
  justify-content: baseline;
  padding-top: 1.5%;
}


.entrar img {
  border: solid 3px #e2e2e2;
  border-radius: 1rem;

  transition: 200ms;
}


.entrar img:hover {
  border: solid 3px #ed20e9;
  box-shadow: 0 0 0.5em #ed20e9, 0 0 0.5em #ed20e9;
  background-color: #ed20e9;
}

p {
  font-size: 10px;
  font-weight: 900;
  color: #999999;
}

footer {
  position: absolute;
  bottom: 0;
  width:100%;

  font-family: 'Open Sans';
  color: rgb(134, 134, 134);
  letter-spacing: 0.2em;
  font-size: 12px;
  text-align: center;
  padding: 10px;
}

footer a {
  text-decoration: none;
  color: rgb(134, 134, 134);
  transition: 50ms;
}

footer a:hover {
  color: white; 
}



/* mobile version */
@media (min-width: 300px) {
body {
  background-color: #f9f9f9;
}

  #bg {
    width: 95%;
    height: 10%;
  }

  #bg img {
    
 
  }


  #caixa {
    width: 100%;
    height: 1000px;
    padding-right: 3rem;
    position: relative;
  }

  #caixa img {
   
  }